// COLORS
//$green: #0f0;
$grey: #2d2f3b;
$lightgrey: #313747;
$txtgrey: #666d8a;
$txtgrey1: #666d89;
$bgcgrey: #938e88;
$txtgrey3: #666d89;
$red: #d75650;
$lightred: #f06b64;
$redborder: #ea676c;
$bgcgrey: #f2f2f2;
$footerbgr: #2d2f3b;
$footertxt: #646e87;
//FONT MAPPINGS
//$primary-font: "Charmonman", cursive;
